.sidenav{
    background-color: #3F51B5;
    width: 150px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.sidenav a{
    color: #FFF;
}

.sidenav i{
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}
